@{
    ViewBag.Title = "Account_Managers";
}

<h2>Account Managers</h2>

<div>
        <table class="table">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>E-Mail</th>
            </tr>
        </table>
</div>