@{
    ViewBag.Title = "Logoff";
}

<h2>Log Off Confirmation</h2>

<p>Are you sure you want to log off?
    <br /><br />
    <input type="button" value="Yes" onclick="location='Home'"/> @* currently 404 but you will call a method which returns a URL*@
    <input type="button" value="No" onclick="location='Index'"/>
</p>