@{
    ViewBag.Title = "Search_Jobs";
}

<h2>Search Jobs</h2>

<div>
        <table class="table">
            <tr>
                <th>Job Title</th>
                <th>Location</th>
                <th>Date Posted</th>
                <th>Deadline</th>
            </tr>
        </table>
</div>